<!DOCTYPE html>
<html>

<head>
	{{> header-assets }}
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{{meta.title}}</title>
</head>

<body>
	{{> navigation}}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<ul class="list-group">
					{{#each pages}}
					<li class="list-group-item {{#if this.active}}active{{/if}}"><a class="p-2 text-dark"href="{{this.relativePath}}" title="{{this.meta.title}}">{{this.meta.title}}</a></li>
					{{/each}}
				</ul>
			</div>
			<div class="col-12 col-md-8">
				<custom-layout></custom-layout>
				<h1>This is the docs page</h1>
				{{{body}}}
			</div>
		</div>
	</div>
	{{> footer-scripts}}
</body>
</html>